.div1 {
  width: 200px;
  height: 300px;
  background-color: green;
}

.div2 {
  width: 200px;
  height: 300px;
  background-color: red;
}

.div3 {
  width: 200px;
  height: 300px;
  background-color: yellow;
}

.div4 {
  width: 200px;
  height: 300px;
  background-color: orange;
}
.div5 {
  width: 200px;
  height: 300px;
  background-color: green;
}

.div6 {
  width: 200px;
  height: 300px;
  background-color: red;
}

.div7 {
  width: 200px;
  height: 300px;
  background-color: yellow;
}